* {
  margin: 0;
  padding: 0;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 480px;
  
  background-image: url(https://lh3.googleusercontent.com/art42j_MtDKDZzvpZ3IK3uDlXoZpyh1qn465TiDmE5oZBvjCIWWpX4jm1TXp7yxfTFFEXWJseBqoHx8q5pfC-HT6fFX6yci633YpaopL6hpSLBqjhsm04yHHMqtmqFf5b0C5H4N_dA=w2400);
  background-size: cover;
  background-position: center;
}
/* @media (min-width: 576px) { #hero { height: 664px; }} */

#hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 480px;
  background-color: rgba(39, 73, 109, 0.75);
}
/* @media (min-width: 576px) { #hero::after { height: 664px; }} */

#hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4px 16px 8px 16px;
  background: rgba(20, 40, 80, 0.8);
  z-index: 1;
}
/* @media (min-width: 576px) { #hero-title { height: 140px; }}
@media (min-width: 768px) { #hero-title { height: 168px; }} */

#title {
  font-family: "Patrick Hand";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #EBFCF9;
}
@media (min-width: 576px) { #title { font-size: 38px; }}
@media (min-width: 768px) { #title { font-size: 50px; }}

#subtitle {
  font-family: "Patrick Hand";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #EBFCF9;
}
/* @media (min-width: 576px) { #subtitle { font-size: 32px; }}
@media (min-width: 768px) { #subtitle { font-size: 44px; }} */

#img-div {
  display: none;
}

#image {
  display: block;
  width: 720px;
  height: auto;
  margin: 0 auto;
}

h2, h3, p {
  color: #192949;
}

#tribute-info {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* height: 569px; */

  padding: 16px 0;
  overflow: auto;
  background: #A1BEDD;
}

#tribute-info p {
  font-family: "Dosis";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  /* font-size: 24.75px; */
  text-align: justify;

  margin: 16px 24px;
}

.contrib-section {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 569px; */

  padding: 16px 0;
  overflow: auto;
  background: #88A6C6;
}

#contrib-arithmetic,
#contrib-trigonometry {
  background: #A1BEDD;
}

.contrib-header {
  font-family: "Dosis";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  /* font-size: 55.9055px; */

  margin: 0 24px;
}

.contrib-title {
  position: relative;

  font-family: "Patrick Hand";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  /* font-size: 43.45px; */
  text-align: right;

  margin: 0 24px;
  z-index: 0;
}

.contrib-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  height: 10px;
  bottom: 5px;
  right: -5px;

  border-radius: 2px;
  transform: skew(-15deg);
  background: #4C75A0;
  z-index: -1;
}

.contrib-text {
  font-family: "Dosis";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  /* font-size: 24.75px; */
  text-align: justify;

  margin: 16px 24px;
}

#contrib-arithmetic .contrib-title,
#contrib-trigonometry .contrib-title {
  text-align: left;
}

#contrib-arithmetic .contrib-title::after,
#contrib-trigonometry .contrib-title::after {
  left: 8px;
  background: #6899CC;
}

#contrib-arithmetic .contrib-title::after {
  width: 100px;
}

#contrib-astronomy .contrib-title::after {
  width: 100px;
}

#contrib-trigonometry .contrib-title::after {
  width: 128px;
}

#contrib-geography .contrib-title::after {
  width: 100px;
}

#quote {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; */

  padding: 16px 0;
  overflow: auto;
  background: #223C57;
}

#quote p {
  /* position: relative; */
  /* width: 744px; */

  font-family: "Patrick Hand";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  /* font-size: 43.45px; */
  text-align: justify;
  
  color: #B9DBD5;
  margin: 16px 24px 0 24px;
  z-index: 2;
}

#quote footer {
  /* position: relative; */
  /* left: 75px; */

  font-family: "Patrick Hand";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  /* font-size: 32.4484px; */
  text-align: right;
  
  margin: 0 24px 16px 24px;
  color: #B9DBD5;
}

#number {
  position: relative;
  z-index: 1;
}

#number::after {
  content: '';
  display: block;
  position: absolute;
  width: 65px;
  height: 10px;
  bottom: 5px;
  left: 5px;

  border-radius: 2px;
  transform: skew(-15deg);
  background: #537190;
  /* background: #10A2C1; */
  z-index: -1;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative;
  height: 95px; */

  overflow: auto;
  background: #223C57;
}

#footer h2 {
  font-family: "Dosis";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* font-size: 24.75px; */
  text-align: center;

  margin: 0 24px;
  color: #B9DBD5;
}

a {
  color: #82addb;
  text-decoration: none;
}

a:hover, a:focus {
  color: #6689ad;
}

#footer p {
  position: relative;
  margin-bottom: 18px;
  margin-top: 4px;
  font-family: "Dosis";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* font-size: 19.5483px; */
  text-align: justify;

  color: #B9DBD5;
}

.heart {
  position: absolute;
  display: block;
  top: 6px;
  left: 60px;
  width: 10px;
  height: 10px;
  margin : 0 8px;
  background-color: rgb(207, 89, 89);
  transform: rotate(45deg);
}

.heart::before, .heart::after {
  width: 10px;
  height: 10px;
  content: "";
  position: absolute;
  background-color: rgb(207, 89, 89);
  border-radius: 50%;
  top: -5px;
}

.heart::before {
  top: 0px;
  left: -5px;
}